<div class="map-style yield-information" id="map"></div>
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 46.4165153, lng: -120.6345109},
      zoom: 4
    });

    var infowindow = new google.maps.InfoWindow({
      content: "Yakima Valley, Washington"
    });

    var marker = new google.maps.Marker({
      position: {lat: 46.4165153, lng: -120.6345109},
      map: map,
      title: 'Yakima Valley, Washington'
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>

