// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment-body {
  border-left: 3px solid #7cb055;
  margin: 1em 0em 2em 2em;
  font-family: 'Raleway', sans-serif;
  color: #777;
}

.comment-body-info {
  list-style: none;
  font-size: .75em;
  padding-left: 25px;
}

.comment-body-info li {
  display: inline-block;
  margin-right: 1.5em;
}

.user-comment-link {
  color: #777;
}

.user-comment-link:hover {
  color: #f0b138;
  transition: color 0.5s ease;
  text-decoration: none;
}

.user-edit-comment-link {
  color: #7cb055;
}

.user-edit-comment-link:hover {
  color:#96bf76;
  transition: color 0.5s ease;
  text-decoration: none;
}

.user-delete-comment-btn {
  border: none;
  background-color: transparent;
  color: #7cb055;
}

.user-delete-comment-btn:hover {
  color:#96bf76;
  transition: color 0.5s ease;
  text-decoration: none;
}

#comment-header-container {
  padding-left: 0;
}

#comment-header {
  font-family: 'Raleway', sans-serif;
  color: #f0b138;
}

.comments-container {
  margin-bottom: 2em;
}

#no-comments-container {
  font-family: 'Raleway', sans-serif;
  color: #777;
  padding-left: 0;
}

@media (max-width: 760px) {
  #comment-header-container {
    text-align: center;
  }

  #no-comments-container {
    text-align: center;
  }
}

.post-comment-btn-container {
  text-align: center;
}

@media (max-width: 400px) {
  .post-comment-btn-container a {
    margin-right: .75em;
  }
}

// Comment new page styling

#post-comment-container {
  font-family: 'Raleway', sans-serif;
}

#post-comment-header {
  color: #7cb055;
  margin-bottom: 1em;
}

.border {
  border: 1px solid #f0b138;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

#post-comment-form input {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}

#post-comment-form textarea {
  width: 100%;
  height: 20vh;
  margin-top: 1em;
  border: 1px solid #7cb055;
  color: #777;
}

// Comment edit page styling

#edit-comment-container {
  font-family: 'Raleway', sans-serif;
}

#edit-comment-header {
  color: #7cb055;
  margin-bottom: 1em;
}

.border {
  border: 1px solid #f0b138;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

#edit-comment-form input {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}

#edit-comment-form textarea {
  width: 100%;
  height: 20vh;
  margin-top: 1em;
  border: 1px solid #7cb055;
  color: #777;
}