// Place all the styles related to the hops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hop-index-search-header {
  text-align: center;
}

.individual-hop-container {
  text-align: center;
  height: 10em;
}

.return-home-button {
  text-align: center;
}