.yield-information {
  padding-top: 10em;
}

.navbar {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-brand {
  color: #7cb055;
}

.navbar-default .navbar-brand:hover {
  color: #96bf76;
  transition: color 0.5s ease;
}

.navbar-default .navbar-brand:focus {
  color: #96bf76;
  transition: color 0.5s ease;
}

.navbar-default .navbar-right li a:hover {
  color: #f0b138;
  transition: color 0.5s ease;
}

.navbar-default .navbar-right li a:focus  {
  color: #f0b138;
  transition: color 0.5s ease;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('hops-header-img.jpg');
  text-align: center;
  color: white;
}

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}

header .header-content .header-content-inner h1 {
  font-size: 6em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
}

header .header-content .header-content-inner p {
  font-size: 25px;
  margin-top: 5em;
  font-family: 'Raleway', sans-serif;
}

#header-button {
  margin-top: 4em;
  padding: 1em 2em 1em 2em;
}

#about {
  padding-top: 5em;
  height: 50vh;
  /*background-color: #7cb055;*/
  color: #7cb055;
  font-family: 'Raleway', sans-serif;
}

.icon {
  color: #f0b138;
}

.icon-sub-header {
  margin-top: 1em;
}

#about-section-text {
  margin: 2.5em 5em 0em 5em;
  font-size: 1.5em;
}

#icons {
  padding-top: 6em;
  background-color: #7cb055;
  color: #fff;
  height: 50vh;
  font-family: 'Raleway', sans-serif;
}


#search-map {
  /*background-color: #7cb055;*/
  color: #7cb055;
  height: 50vh;
  font-family: 'Raleway', sans-serif;
}

.search-map-containers {
  margin-top: 4em;
}

.search-map-containers h2 {
  margin-bottom: 1.5em;
}

.search-map-containers p {
  color: #777;
  margin-top: 1em;
  font-size: 1.5em;
}

#hop-search-form {
  margin: 0 auto;
}

#hop-search-form input {
  margin-top: 1em;
}

.search-btn {
  padding: 1em 3em 1em 3em;
}

.btn-default {
  font-family: 'Raleway', sans-serif;
  color: #7cb055;
  border: 1px solid #7cb055;
  letter-spacing: 1px;
  font-size: 1.25em;
}

.btn-default:focus,
.btn-default.focus {
  background-color: #7cb055;
  border: 1px solid #7cb055;
  color: #fff;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

.btn-default:hover {
  background-color: #7cb055;
  border: 1px solid #7cb055;
  color: #fff;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: #7cb055;
  border: 1px solid #7cb055;
  color: #fff;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

.footer {
  width: 100%;
  height: 60px;
  bottom:0;
  background-color: #f5f5f5;
  margin-top: 2em;
  padding-top: 1em;
  font-family: 'Raleway', sans-serif;
  color: #777;
  border-top: 1px solid #7cb055;
  z-index: 1030;
}

#source-code-link {
  color: #7cb055;
}

#source-code-link:hover {
  color: #96bf76;
  transition: color 0.5s ease;
  text-decoration: none;
}