.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.btn-default {
  font-family: 'Raleway', sans-serif;
  color: #7cb055 !important;
  border: 1px solid #7cb055 !important;
  letter-spacing: 1px !important;
  font-size: 1.25em !important;
}

.btn-default:focus,
.btn-default.focus {
  background-color: #7cb055 !important;
  border: 1px solid #7cb055 !important;
  color: #fff !important;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

.btn-default:hover {
  background-color: #7cb055 !important;
  border: 1px solid #7cb055 !important;
  color: #fff !important;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: #7cb055 !important;
  border: 1px solid #7cb055 !important;
  color: #fff !important;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

.yield-information {
  padding-top: 10em;
}

.navbar {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-brand {
  color: #7cb055 !important;
}

.navbar-default .navbar-brand:hover {
  color: #96bf76 !important;
  transition: color 0.5s ease;
}

.navbar-default .navbar-brand:focus {
  color: #96bf76 !important;
  transition: color 0.5s ease;
}

.navbar-default .navbar-right li a:hover {
  color: #f0b138 !important;
  transition: color 0.5s ease;
}

.navbar-default .navbar-right li a:focus  {
  color: #f0b138 !important;
  transition: color 0.5s ease;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(asset-path('hops-header-img.jpg'));
  text-align: center;
  color: white;
}

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}

header .header-content .header-content-inner h1 {
  font-size: 6em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
}

header .header-content .header-content-inner p {
  font-size: 25px;
  margin-top: 5em;
  font-family: 'Raleway', sans-serif;
}

#header-button {
  margin-top: 4em;
  padding: 1em 2em 1em 2em;
}

#about {
  padding-top: 5em;
  height: 50vh;
  color: #7cb055;
  font-family: 'Raleway', sans-serif;
}

.icon {
  color: #f0b138;
}

.icon-sub-header {
  margin-top: 1em;
}

#about-section-text {
  margin: 2.5em 5em 0em 5em;
  font-size: 1.5em;
}

#icons {
  padding-top: 6em;
  background-color: #7cb055;
  color: #fff;
  height: 50vh;
  font-family: 'Raleway', sans-serif;
}

#search-map {
  color: #7cb055;
  height: 50vh;
  font-family: 'Raleway', sans-serif;
}

.search-map-containers {
  margin-top: 4em;
}

.search-map-containers h2 {
  margin-bottom: 1.5em;
}

.search-map-containers p {
  color: #777;
  margin-top: 1em;
  font-size: 1.5em;
}

#hop-search-form {
  margin: 0 auto;
}

#hop-search-form input {
  margin-top: 1em;
}

.search-btn {
  padding: 1em 3em 1em 3em !important;
}

#explore-link {
  color: #7cb055;
}

#explore-link:hover {
  color: #96bf76;
  transition: color 0.5s ease;
  text-decoration: none;
}

@media (max-width: 991px) {
  #about {
    height: 70vh;
  }

  #icons {
    padding-top: 3em;
    height: 90vh;
  }

  .icon-container {
    margin-top: 1.5em;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  #about {
    height: 50vh;
  }

  #icons {
    padding-top: 3em;
    height: 60vh;
  }

  .icon-container {
    margin-top: 1.5em;
  }
}

@media (max-width: 767px) {
  #search-map {
    height: 80vh;
  }
}

@media (max-width: 647px) {
  #about-section-text {
    margin: 2.5em 0em 0em 0em;
  }
}

@media (max-width: 400px) {
  #about {
    height: 95vh;
  }

   #icons {
    padding-top: 2em;
    height: 100vh;
  }

  .icon-container {
    margin-top: 3em;
  }

  .icon-sub-header {
    margin-top: .75em;
  }

}

@media (max-width: 540px) {
  header .header-content .header-content-inner h1 {
    font-size: 4em;
  }
}

/* iPhone 5 styles */

@media (max-width: 330px) {
  header .header-content .header-content-inner h1 {
    font-size: 3em;
  }

  header .header-content .header-content-inner p {
    font-size: 1.25em;
  }

  #header-button {
    padding: .75em 1.5em .75em 1.5em;
  }

  #about {
    height: 75vh;
  }

  #about-section-text {
    font-size: 1em;
  }

  #icons {
    height: 90vh;
  }

   .icon-container {
    margin-top: 2.5em;
  }

  .icon-sub-header {
    font-size: 24px;
  }

  .search-map-containers h2 {
    font-size: 24px;
  }

  .search-map-containers p {
    font-size: 1em;
  }

  .search-btn {
    padding: .75em 2.25em .75em 2.25em !important;
  }
}

