// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign-up-page {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  background-color: #7cb055;
  color: #fff;
}

#sign-up-page-form-group {
  margin: 0 auto;
  width: 35%;
}

#sign-up-page-form-group input {
  margin-top: 1em;
}