// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Sign up page styles */

#sign-up-page {
  position: relative;
  width: 100%;
  height: 85vh;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  color: #7cb055;
  font-family: 'Raleway', sans-serif;
  padding-top: 10em;
}

#sign-up-page h1 {
  margin-bottom: 1em;
}

#sign-up-page-form-group {
  margin: 0 auto;
  width: 35%;
}

#sign-up-page-form-group input {
  margin-top: 1em;
}

@media (max-width: 970px) {
  #sign-up-page-form-group {
    width: 45%;
  }
}

@media (max-width: 740px) {
  #sign-up-page-form-group {
    width: 55%;
  }
}

@media (max-width: 580px) {
  #sign-up-page-form-group {
    width: 65%;
  }
}

@media (max-width: 450px) {
  #sign-up-page-form-group {
    width: 75%;
  }
}

@media (max-width: 400px) {
  #sign-up-page-form-group {
    width: 90%;
  }
}

@media (max-width: 390px) {
  #sign-up-page {
    padding-top: 6em;
  }
}

@media (max-width: 330px) {
  #sign-up-page {
    height: 100vh;
    padding-top: 5.5em;
  }
}


/* User show page styles */

#user-show-container {
  font-family: 'Raleway', sans-serif;
}

#user-info-container {
  padding: 1.5em;
  border: 1px solid #f0b138;
  margin-bottom: 5em;
}

#user-info-container h1 {
  color: #7cb055;
}

#user-info-container p {
  color: #777;
}

.favorites-container h4 {
  color: #7cb055;
  padding-bottom: .75em;
  border-bottom: 1px solid #f0b138;
  width: 50%;
  margin: 0 auto;
}

.comments-container h4 {
  color: #7cb055;
  padding-bottom: .75em;
  border-bottom: 1px solid #f0b138;
  width: 50%;
  margin: 0 auto;
}

.user-show-list {
  margin-top: .75em;
}

.user-show-list p a {
  color: #777;
}

.user-show-list p a:hover {
  color: #f0b138;
  transition: color 0.5s ease;
  text-decoration: none;
}

.blank-user-lists {
  color: #777;
  margin-top: .75em;
}

@media (max-width: 768px) {
  .favorites-container {
    margin-bottom: 3em;
  }

  #user-info-container {
    margin-bottom: 2.5em;
  }
}